@use '/src/styles/constants/colors';

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #dee3f9;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* 인터넷익스플로러 */
  user-select: none;

  /* 텍스트 드래그 금지 */
  -webkit-touch-callout: none; /* iOS Safari */
}

.appLogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: appLogoSpin infinite 20s linear;
  }
}

.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: colors.$WHITE;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
}

.appLink {
  color: colors.$BLUE;
}

@keyframes appLogoSpin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
