@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.checkboxWrapper {
  @include flexbox.flexbox(center center);
  position: relative;
  width: 28px;
  height: 28px;
  margin: 0 24px;

  svg {
    @include position.middleBox;
    z-index: levels.$CHECK_ICON;
    color: colors.$WHITE;
    pointer-events: none;
    opacity: 0;
    transition: 0.2s;
  }
}

input[type='checkbox'] {
  @include position.middleBox;
  z-index: levels.$CHECK_BOX;
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: 2px solid colors.$BLUE;
  border-radius: 50%;
  transition: 0.2s;

  &:checked {
    background-color: colors.$GRAYA;
    border: 0;

    ~ svg {
      opacity: 1;
    }
  }
}

.business[type='checkbox'] {
  @include position.middleBox;
  z-index: levels.$CHECK_BOX;
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: 2px solid colors.$BLUE;
  border-radius: 50%;
  transition: 0.2s;

  &:checked {
    background-color: colors.$GRAYA;
    border: 0;

    ~ svg {
      opacity: 1;
    }
  }
}

.personal[type='checkbox'] {
  @include position.middleBox;
  z-index: levels.$CHECK_BOX;
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: 2px solid colors.$RED;
  border-radius: 50%;
  transition: 0.2s;

  &:checked {
    background-color: colors.$GRAYA;
    border: 0;

    ~ svg {
      opacity: 1;
    }
  }
}
