@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

@keyframes expand {
  0%,
  99% {
    @include position.absolute(0 auto auto 0);
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }

  100% {
    width: 100%;
    height: 100%;
    transform: scale(10);
  }
}

@keyframes expandCircle {
  0% {
    background: colors.$SIDEBAR_BACKGROUND;
    opacity: 0.5;
  }

  100% {
    background: colors.$SIDEBAR_BACKGROUND;
    opacity: 1;
  }
}

@keyframes contractCircle {
  0% {
    background: colors.$SIDEBAR_BACKGROUND;
  }

  100% {
    background: colors.$WHITE;
  }
}

.circleScaleUp {
  @include position.absolute(0);
  background-color: colors.$SIDEBAR_BACKGROUND;
  animation: expand 0.5s forwards;
}

.circleScaleDown {
  animation: contractCircle 2s forwards;
}

.circleButton {
  @include position.absolute(0);
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  transition: background-color 100ms;
}
